.header-btn{
    background-color:#721946 ;
    text-decoration: none;
    border: none;
    text-align: center;
    color:white;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 6px #C94185;
}

.header-img{
    margin-left: 20%;
    transition: transform 1s;
    transform-origin: right bottom;
}
.header-img:hover{
    transform:translate(40px, 10px);
}
.title button{
    transition: transform 1s;
    
}
.title button:hover{
    transform: scale(1.1);
}